body {
	margin: 0;
}

.btns {
  position: fixed;
  width: 100px;
  z-index: 999;
  bottom: 10px;
  left: 10px;
}

.btns-right {
  position: fixed;
  z-index: 999;
  bottom: 10px;
  right: 10px;
}

.item-btn {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  border: 1px solid #fafafa;
  border-radius: 10px;
  margin-top: 10px;
}

.item-btn>img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  align-items: ;
}