<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>详情页</title>
    <script src="../js/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="../js/json2.js"></script>
    <script src="../js/static.js?v=1"></script>
    <!-- 工具类 -->
    <script src="../js/JavaScriptUtils.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/activity_item.css?v=21">
    <style>

    </style>
</head>

<body>
    <div class="activity-top">
        <div class="title" id="title"></div>
        <div class="time">
            <div class="icon"><img src="../image/time1.png" /></div>
            <div class="key">活动时间</div>
            <div class="value time"></div>
            <div class="state">
                <span class="s0">进行中</span>
                <span class="s1">未开始</span>
                <span class="s2">已结束</span>
            </div>
        </div>
        <div class="time line">
            <div class="icon"><img src="../image/addr1.png" /></div>
            <div class="key">活动地址</div>
            <div class="value addr"></div>
        </div>
        <div class="time line">
            <div class="icon"><img src="../image/adv1.png" /></div>
            <div class="key">行政区划</div>
            <div class="value adv"></div>
        </div>
    </div>

    <div class="content"></div>

</body>

<script>
    saveAsk('活动详情');

    // 列表带入的参数
    var activityId = getUrlParameter('activityId');
    var state = getUrlParameter('state');

    //详情页数据
    $(document).ready(function () {
        $(".state").addClass("s" + state);
        $.ajax({
            url: staticurl + '/xcxActivity/queryById',
            //url: pageUrl + '/data/activityList.json?',
            type: 'GET',
            async: true,
            data: { id: activityId },
            success: function (res) {
                var data = JSON.parse(res);
                console.log(data);
                if (null != data) {
                    var name = data.name;
                    var startDate = data.startDate;
                    var endDate = data.endDate;
                    var address = data.address;
                    var divName = data.divName;
                    var content = data.content;
                    $(".title").text(name);
                    $(".value.time").text(startDate + "至" + endDate);
                    $(".value.addr").text(address);
                    $(".value.adv").text(divName);
                    $(".content").append(content);
                }
                // var datalist_tmp = data["datalist"];
                // var data = {};
                // for(var i = 0 ; i< datalist_tmp.length ; i++){
                //     if(activityId == datalist_tmp[i]["activityId"]){
                //         data =  datalist_tmp[i];
                //         break;
                //     }
                // }

                // if(null != data){
                //     var name = data.name;
                //     var startDate = data.startDate;
                //     var endDate = data.endDate;
                //     var address = data.address;
                //     var divName = data.divName;
                //     var content = data.content;
                //     $(".title").text(name);
                //     $(".value.time").text(startDate + "至"+ endDate);
                //     $(".value.addr").text(address);
                //     $(".value.adv").text(divName);
                //     $(".content").append(content);
                // }
            },
            error: function (err) {
                console.log('err', err);
            }
        });
    });

</script>