<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no">
  <title>网点列表</title>
  <link rel="stylesheet" type="text/css" href="../css/yEnt.css?v=2">
</head>

<body>
  <div class="container">
    <div class="topDiv">
      <div class="searchDiv">
        <div class="search">
          <!-- <div class="search-input" id="searchVal" onclick="toSearch()">请输入网点名称</div> -->

          <input class="search-input" onkeydown="searchInputAction()" placeholder="请输入网点名称" name="" id="searchVal"
            value="" autofocus />
          <div class="closeDiv">
            <div class="close" onclick="toClear()">
              <span class="close-icon"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="menu-po">
        <div class="swiperDiv">
          <div class="swiper-tab">
            <div class="swiper-tab-item" onclick="menuClick('0')" id="swiperxz">
              <span id="areaName">行政区划</span>
              <div class="icon"></div>
            </div>
            <!-- <div class="swiper-tab-item" onclick="menuClick('2')" id="swipersx">
              筛选条件
              <div class="icon"></div>
            </div> -->
          </div>
        </div>
      </div>




      <div class="menu-if" id="sqdiv">
        <div class="meun-txt" id="meuntxtxz" style="display: none;">
          <div class="menu-text-list">
            <div class="menu-text-list-left over-auto" style="height:800px;" id="xzqh">
              <div class="meun-city-txt">
                <span>全部区域</span>
                <!-- <div class="num">1842个</div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="meun-txt over-auto" id="meuntxtsx" style="display: none;height:800px;">
          <div class="slidowntop" style="margin-top: 30px;">
            <span>业态分类(国标)</span>
            <div class="ck">
              <span onclick="selectAll()">全选</span>
              <span style="padding-left: 15px;" onclick="clearAll()">清空</span>
            </div>
          </div>
          <div class="commanders" id="xsitem">
          </div>
          <div class="btnDiv">
            <div class="clearBtn" onclick="clearAll()">清空</div>
            <div class="sureBtn" onclick="submitSelect()">确定</div>
          </div>
        </div>
      </div>
    </div>

    <div class="scrollPageDiv" id="scroll-page">
      <!-- <div class="top-scroll">
        <div class="title-item">
          <div class="title">设施数量</div>
          <div class="itemDiv">
            <div class="scrollDiv" id="insData"></div>
          </div>
        </div>
      </div> -->


      <div class="listItems" id="entLists"></div>
    </div>

  </div>
  <div class="mask"></div>

  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/static.js?v=1"></script>
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=UQQpmhDmFB44H1scx27MezscrlcTT5Tl"></script>
  <script type="text/javascript">
    var topSpace = 0
    //行政区划
    var divId = '';
    //业态分类
    var indIds = [];
    // queryPro();
    var num = 0;
    // this.getZdDot()
    var type = getUrlParameter('type');
    var typeName = getUrlParameter('typeName');
    if ('lzh' == type) {
      saveAsk('南京老字号');
    } else {
      saveAsk('金陵抢先逛');
    }


    // 修改标题
    document.title = typeName;
    $("title").html(typeName)


    //百度坐标获取
    var latitude = 32.047763;
    var longitude = 118.79049;




    // 筛选导航栏事件
    function menuClick(type) {
      if (type == '0') {
        //行政
        if ($('#swiperxz').hasClass("active")) {
          this.BodyScroll(true)
          $('.mask').css('display', 'none')
          $('#swiperxz').removeClass('active');
          $("#meuntxtxz").hide();
        } else {
          this.BodyScroll(false)
          $('.mask').css('display', 'block')
          $('#swiperxz').addClass('active');
          $("#meuntxtxz").css('display', 'block');
          this.getXzArea()
        }
        $('#swipersq').removeClass('active');
        $('#swipersx').removeClass('active');
        $("#meuntxtsx").hide();//筛选
      } else if (type == '2') {
        if ($('#swipersx').hasClass("active")) {
          $("#meuntxtsx").hide();
          $("#entLists").html('')
          this.BodyScroll(true)
          $('.mask').css('display', 'none')
          $('#swipersx').removeClass('active');
          num = 0;
          setEntJson(num);
          // queryPro();
        } else {
          this.BodyScroll(false)
          $('.mask').css('display', 'block')
          $('#swipersx').addClass('active');
          $("#meuntxtsx").show();
        }
        $('#swiperxz').removeClass('active');
        $('#swipersq').removeClass('active');
        $("#meuntxtxz").hide();//行政
      }
    }

    //初始化行政区划数据
    function getXzArea() {
      var data = this.getCondition();
      // $.getJSON("../json/queryMarketDiv.json",function (data){
      //   var html = '';
      //   for (var i = 0; i < data.length; i++) {
      //     html += '<div class="meun-city-txt" onclick="setDivId(\'' + data[i].NAME + '\', \'' + data[i].DICT_ID + '\')">';
      //     html += '<span>' + data[i].NAME + '</span>';
      //     // html += '<div class="num">' + data[i].num + '个</div>';
      //     html += '</div>';
      //   }
      //   $("#xzqh").html(html);
      // });
      $.ajax({
        url: staticurl + '/MarketEnt/queryMarketDiv?',
        type: 'POST',
        async: false,
        data: data,
        success: function (data) {
          data = JSON.parse(data);
          console.log('data', data)
          var html = '';
          for (var i = 0; i < data.length; i++) {
            html += '<div class="meun-city-txt" onclick="setDivId(\'' + data[i].NAME + '\', \'' + data[i].DICT_ID + '\')">';
            html += '<span>' + data[i].NAME + '</span>';
            // html += '<div class="num">' + data[i].num + '个</div>';
            html += '</div>';
          }
          $("#xzqh").html(html);
        },
        error: function (err) {
          console.log('err', err);
        }
      });
    }

    $("#searchVal").on('keypress', function (e) {
      var keycode = e.keyCode;
      var searchName = $(this).val();
      if (keycode == '13') {
        e.preventDefault();
        //请求搜索接口
        console.log('search');
        $("#entLists").html('')
        setEntJson(0);
      }
    });

    function searchInputAction(e) {
      e = e || window.event;
      if ($('#searchVal').val() == '') {
        // $('#searchVal').html('请输入网点名称')
        // $('#searchVal').css('color', '#a9a9a9')
        $('.closeDiv').css('display', 'none')
      } else {
        // $('#searchVal').html($('#searchVal').val())
        $('#searchVal').css('color', '#000000')
        $('.closeDiv').css('display', 'block')
      }

    }

    //行政区划点击
    function setDivId(name, id) {
      console.log('name, id', name, id)
      $('#areaName').html(name)
      divId = id;
      num = 0;
      $("#entLists").html('')
      setEntJson(num);
      // queryPro();
      $("#meuntxtxz").hide();
      this.BodyScroll(true)
      $('.mask').css('display', 'none')
      $('#swiperxz').removeClass('active');
    }

    // 筛选条件选中
    function toselect(dictId) {
      if ($('#' + dictId).hasClass("btn-selected")) {
        $('#' + dictId).removeClass('btn-selected');
        delitem(indIds, dictId);
      } else {
        $('#' + dictId).addClass('btn-selected');
        if (indIds == '') {
          indIds = []
        }
        indIds.push(dictId);

      }
      console.log('indIds', indIds);
    }

    // 筛选条件取消
    function delitem(arr, text) {
      for (let i = 0; i < arr.length; i++) {
        if (text == arr[i]) {
          arr.splice(i, 1);
        }
      }
      console.log('indIds', indIds);
    }

    // 确定按钮
    function submitSelect() {
      num = 0;
      $("#entLists").html('')
      console.log('indIds恭恭敬敬a', indIds);
      setEntJson(num);
      // queryPro();
      this.BodyScroll(true)
      $('.mask').css('display', 'none')
      $('#swipersx').removeClass('active');
      $("#meuntxtsx").hide();
    }

    // 全选
    function selectAll() {
      indIds = []
      $('#xsitem .btn').addClass('btn-selected')
      $("#xsitem .btn-selected").each(function () {
        indIds.push($(this).attr("id"));
      })
      console.log('*****************************', indIds)
    }

    // 取消按钮
    function clearAll() {
      $('#xsitem .btn').removeClass('btn-selected')
      indIds = []
      console.log('#########', indIds)
      // num = 0;
      // $("#entLists").html('')
      // setEntJson(num);
      // queryPro();
      // this.BodyScroll(true)
      // $('.mask').css('display', 'none')
      // $('#swipersx').removeClass('active');
      // $("#meuntxtsx").hide();
    }

    // 遮罩弹窗禁止下面滑动  isState传true可以滑动  传false 不可以滑动
    function BodyScroll(isState) {
      var bodyDoc = document.getElementById('scroll-page')
      if (!isState) {
        topSpace = window.scrollY
        bodyDoc.style.position = 'fixed'
        bodyDoc.style.width = '100%'
        bodyDoc.style.top = -topSpace + 'px'
      } else {
        bodyDoc.style.position = ''
        bodyDoc.style.top = ''
        bodyDoc.style.width = '100%'
        window.scrollTo(0, topSpace) // 回到原先位置
      }
    }

    $(document).ready(function () {
      var range = 20;             // 距下边界长度/单位px

      var maxnum;          // 设置加载最多次数

      try {
        // let BMap = window.BMap;
        // let geolocation = new BMap.Geolocation();
        // geolocation.enableSDKLocation(); //允许SDK辅助
        // geolocation.getCurrentPosition(function (position) {
        //   if(this.getStatus() == 0){
        //     console.log(position);
        //     latitude = position.latitude;
        //     longitude = position.longitude;
        //     console.log(latitude, longitude);
        maxnum = setEntJson(num); // 设置加载最多次数
        //   }
        // })
      } catch (e) {
        console.log('error', e);
      }


      var totalheight = 0;
      $(window).scroll(function () {
        // 滚动条距顶部距离(页面超出窗口的高度)
        var srollPos = $(window).scrollTop();
        totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
        //判断上拉的高度以决定是否加载更多
        if (($(document).height() - range) <= totalheight && num < maxnum) {
          setEntJson(++num);
        }
      });
    });

    // 百度坐标转高德坐标
    function bd_decrypt(bd_lng, bd_lat) {
      var X_PI = Math.PI * 3000.0 / 180.0;
      var x = bd_lng - 0.0065;
      var y = bd_lat - 0.006;
      var z = Math.sqrt(x * x + y * y) - 0.00002 * Math.sin(y * X_PI);
      var theta = Math.atan2(y, x) - 0.000003 * Math.cos(x * X_PI);
      var gg_lng = z * Math.cos(theta);
      var gg_lat = z * Math.sin(theta);
      return { lng: gg_lng, lat: gg_lat }
    }

    // 列表数据
    function setEntJson(num) {
      var totalPage = ''
      var data = this.getCondition();
      data.pageSize = 10;
      data.pageIndex = num;
      var path = "../json/queryEntList.json";
      if (type === 'lzh') {
        data.type = 'lzh'
        path = "../json/queryLzhEntList.json"
      } else if (type === 'big') {
        data.type = 'big'
      }
      console.log('data', data)
      // $.getJSON(path, function (josndata) {
      //   var html = '';
      //   for (var i = 0; i < josndata.length; i++) {
      //     if ((data.adminDiv && josndata[i].adminDiv !== data.adminDiv) || (data.entName && josndata[i].entName.indexOf(data.entName) < 0)) {
      //       continue;
      //     }
      //     var map = bd_decrypt(josndata[i].longitude, josndata[i].latitude);
      //     html += '<div class="entlist"><div class="ent" onclick="toEntDetail(\'' + josndata[i].entId + '\',\'' + type + '\')">';
      //     html += '<img class="entmap" src="' + josndata[i].thumb4 + '"/>';
      //     html += '<div class="all-info">';
      //     html += '<div class="entinfo">';
      //     html += '<div class="entname">' + josndata[i].entName + '</div>';
      //     html += '<div class="enttype">';
      //     html += '<div>';
      //     html += '<img class="little-img" src="' + josndata[i].icon + '"/>';
      //     html += '<span>' + josndata[i].adminDivName + '</span>';
      //     // html += '<span style="padding-left: 5px;">' + josndata[i].centre_name + '</span>';
      //     html += '<span style="padding-left: 5px;">' + josndata[i].indClassName + '</span>';
      //     html += '</div>';
      //     html += '<div>';
      //     //html += '<span style="color: #3a3a3a;">'+ setDistance(josndata[i].distance) +'</span>'
      //     html += '</div>';
      //     html += '</div>';
      //     // html += '<div class="entarea">';
      //     // html += '<img class="little-img" src="https://site.sumexsoft.com/images/wechat/dot/sywd-750_07.jpg"/>';
      //     // html += '<span class="entaddress-one">营业面积</span>';
      //     // html += '<span class="entaddress-two">' + josndata[i].bus_area + '㎡</span>';
      //     // html += '</div>';
      //     html += '<div class="entaddress">';
      //     html += '<img class="little-img" src="../image/sywd-750_13.jpg"/>';
      //     html += '<span class="entaddress-one">地址</span>';
      //     if (josndata[i].address.length > 14) {
      //       var address = josndata[i].address;
      //       address = address.substring(0, 14);
      //       html += '<span class="entaddress-two">' + address + '</span>';
      //     } else {
      //       html += '<span class="entaddress-two">' + josndata[i].address + '</span>';
      //     }
      //     html += '<div style="position: absolute; right: 20px;"><a href="https://uri.amap.com/marker?position=' + map.lng + ',' + map.lat + '&name=' + josndata[i].entName + '"><img class="little-img" src="../image/sywd-750_10.jpg"/></a></div>';
      //     html += '</div>';
      //     html += '</div>';
      //     html += '<div class="bottom-info">';
      //     html += '<div class="left">';

      //     if (josndata[i].activityList.length > 0) {
      //       for (var j = 0; j < josndata[i].activityList.length; j++) {
      //         // if (j < 3) {
      //         html += '<div class="active-item"><span class="info-tip">惠</span><span style="font-size: 24px; color: #4c4c4c;">' + josndata[i].activityList[j].name + '</span></div>';
      //         // }
      //         // else {
      //         //   html += '<div class="active-item"><span style="font-size: 24px; color: #4c4c4c;">查看更多活动</span></div>';
      //         //   break;
      //         // }

      //       }
      //     }

      //     // html += '<span class="info-tip">惠</span><span style="font-size: 2em; color: #4c4c4c;">活动信息内容介绍</span>'
      //     html += '</div>';
      //     // html += '<div class="right">';
      //     // html += '<span>查看更多活动</span>'
      //     // html += '</div>';
      //     html += '</div>';
      //     html += '</div>';
      //     html += '</div>';
      //     html += '</div>';
      //   }
      //   $("#entLists").append(html);
      // })
      $.ajax({
        url: staticurl + '/xcxDot/queryEntList',
        type: 'GET',
        async: false,
        data: {
          pageIndex: data.pageIndex,
          pageSize: data.pageSize,
          adminDiv: data.adminDiv,
          lng: data.longitude,
          lat: data.latitude,
          entName: data.entName,
          type: data.type
        },
        success: function (res) {
          console.log('res***************', JSON.parse(res))
          var josndata = JSON.parse(res).data.datalist;
          totalPage = JSON.parse(res).data.totalPage
          var html = '';
          for (var i = 0; i < josndata.length; i++) {
            html += '<div class="entlist"><div class="ent" onclick="toEntDetail(\'' + josndata[i].entId + '\')">';
            html += '<img class="entmap" src="' + josndata[i].thumb4 + '"/>';
            html += '<div class="all-info">';
            html += '<div class="entinfo">';
            html += '<div class="entname">' + josndata[i].entName + '</div>';
            html += '<div class="enttype">';
            html += '<div>';
            html += '<img class="little-img" src="' + josndata[i].icon + '"/>';
            html += '<span>' + josndata[i].adminDivName + '</span>';
            // html += '<span style="padding-left: 5px;">' + josndata[i].centre_name + '</span>';
            html += '<span style="padding-left: 5px;">' + josndata[i].indClassName + '</span>';
            html += '</div>';
            html += '<div>';
            html += '<span style="color: #3a3a3a;">' + setDistance(josndata[i].distance) + '</span>'
            html += '</div>';
            html += '</div>';
            // html += '<div class="entarea">';
            // html += '<img class="little-img" src="https://site.sumexsoft.com/images/wechat/dot/sywd-750_07.jpg"/>';
            // html += '<span class="entaddress-one">营业面积</span>';
            // html += '<span class="entaddress-two">' + josndata[i].bus_area + '㎡</span>';
            // html += '</div>';
            html += '<div class="entaddress">';
            html += '<img class="little-img" src="https://site.sumexsoft.com/images/wechat/dot/sywd-750_13.jpg"/>';
            html += '<span class="entaddress-one">地址</span>';
            if (josndata[i].address.length > 14) {
              var address = josndata[i].address;
              address = address.substring(0, 14);
              html += '<span class="entaddress-two">' + address + '</span>';
            } else {
              html += '<span class="entaddress-two">' + josndata[i].address + '</span>';
            }
            html += '<div style="position: absolute; right: 20px;"><a href="https://uri.amap.com/marker?position=' + josndata[i].longitude + ',' + josndata[i].latitude + '&name=' + josndata[i].entName + '"><img class="little-img" src = "../image/sywd-750_10.png"/></a></div>';
            html += '</div>';
            html += '</div>';
            html += '<div class="bottom-info">';
            html += '<div class="left">';

            if (josndata[i].activityList.length > 0) {
              for (var j = 0; j < josndata[i].activityList.length; j++) {
                if (i < 2) {
                  html += '<div class="active-item"><span class="info-tip">惠</span><span style="font-size: 24px; color: #4c4c4c;">' + josndata[i].activityList[j].name + '</span></div>';
                } else {
                  html += '<div class="active-item"><span style="font-size: 24px; color: #4c4c4c;">查看更多活动</span></div>';
                }

              }
            }

            // html += '<span class="info-tip">惠</span><span style="font-size: 2em; color: #4c4c4c;">活动信息内容介绍</span>'
            html += '</div>';
            // html += '<div class="right">';
            // html += '<span>查看更多活动</span>'
            // html += '</div>';
            html += '</div>';
            html += '</div>';
            html += '</div>';
            html += '</div>';
          }
          $("#entLists").append(html);
        },
        error: function (err) {
          console.log('err', err);
        }
      });
      return totalPage
    }

    function setDistance(distance) {
      if (distance != null && distance != "") {
        distance = parseFloat(distance);
        if (distance >= 1000) {
          return (distance / 1000).toFixed(1) + "km";
        } else {
          return distance + "m"
        }
      }
    }

    // 跳转网点详情页面
    function toEntDetail(entId, type) {
      console.log('entId', entId)
      window.location.href = pageUrl + '/views/entItem.html?entId=' + entId + '&type=' + type;
    }

    function toSearch() {
      window.location.href = pageUrl + '/views/search.html?data=' + JSON.stringify(this.getCondition())

    }

    function toChart() {
      // window.location.href = pageUrl + '/views/chartList.html?data=' + JSON.stringify(this.getCondition())

      window.location.href = pageUrl + '/views/chartList.html?adminDiv=' + JSON.stringify(this.getCondition().adminDiv)
        + '&indClass=' + JSON.stringify(this.getCondition().indClass)
        + '&entName=' + JSON.stringify(this.getCondition().entName)
        + '&latitude=' + JSON.stringify(this.getCondition().latitude)
        + '&longitude=' + JSON.stringify(this.getCondition().longitude)
    }

    function toClear() {
      $('#searchVal').val('')
      $("#keyword").val('')
      $("#entLists").html('')
      this.setEntJson(0)
    }

    // var entName = getUrlParameter('keyword');
    // $('#searchVal').val(getUrlParameter('keyword'))

    // 获取查询条件
    function getCondition() {
      //网点名称
      // console.log('keyword', entName)
      if ($('#searchVal').val() == '') {
        $('#searchVal').html('请输入网点名称')
        $('#searchVal').css('color', '#a9a9a9')
        $('.closeDiv').css('display', 'none')
      } else {
        // $('#searchVal').html($('#searchVal').val())
        $('#searchVal').css('color', '#000000')
        $('.closeDiv').css('display', 'block')
      }
      // // 行政区划
      // var divId = '';
      // //业态分类
      // var indIds = [];
      var temp = []
      console.log('************', indIds)
      if (indIds == '') {
        indIds = []
      }
      temp = indIds.join(',');

      console.log('indIds', indIds, divId)
      //当前位置
      // var latitude = 32.37978
      // var longitude = 118.949754
      var data = {
        adminDiv: divId,
        indClass: temp,
        entName: $('#searchVal').val(),
        latitude: latitude,
        longitude: longitude,
      };
      return data;
    }

    function getUrlParameter(name) {
      name = name.replace(/[]/, "\[").replace(/[]/, "\[").replace(/[]/, "\\\]");
      var regexS = "[\\?&]" + name + "=([^&#]*)";
      var regex = new RegExp(regexS);
      var results = regex.exec(window.parent.location.href);
      if (results == null) return ""; else {
        return decodeURI(results[1]);
      }
    };

  </script>
</body>

</html>