<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>默认首页</title>
    <script src="../js/jquery-1.12.4.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/nodata.css">
    <style>

    </style>
</head>

<body>

    <div class="container" style="position: absolute; top: calc(50% - 0.9rem); height: 1.8rem;  left: calc(50% - 0.6rem); width: 1.2rem;">
        <div class="image" style="height: 1.12rem; width: 1.09rem;  background:  url(../image/nodata.png) no-repeat scroll center center; background-size: 100% 100%;"></div>
        <div class="text" style="height: 0.25rem; margin-top: 0.2rem; text-align: center; font-size: 0.2rem; color: #47485A; font-weight: bold;">暂无数据</div>
    </div>

</body>

<script>

</script>
